* {
  margin: 0;
  padding: 0;
}

.main {
  height: 2800px;
  width: 80vw;
  margin: 0 auto;
  background-color: darkslategrey;
  padding-top: 50px;
}

.main>div {
  height: 300px;
  width: 80%;
  background-color: lightgrey;
  margin: 20px auto 40px auto;
}

.sub-div-eight {
  background-color: purple;
  height: 100%;
}

.slide-up {
  top: 500px;
  position: relative;
  transition: 1s;
}

.no-slide {
  top: 0px;
  position: relative;
  transition: 1s;
}

.footer {
  height: 500px;
  background-color: lightcoral;
  position: relative;
  z-index: 1;
}
